[Unit]
Description=Headset Tray
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/headset-tray
Restart=on-failure
RestartSec=5
